div#dhecenterdiv {position: relative; width: 100%; text-align: center;}
div#dhecenterdiv1 {margin: 0px auto; position: relative; width: 1059px; text-align: left;}
body {margin: 0px; padding: 0px; border: 0px; vertical-align: baseline; text-align: left; font-size: 10px; -webkit-text-size-adjust: 100%; }
form {margin: 0px; padding: 0px; border: 0px;}
.verdana100FFFFFFt {font-family: Verdana, Geneva, sans-serif; font-size: 13px; color: #000000; text-decoration: none;}
.comicsansms158080FFFFFFtb {font-family: "Comic Sans MS", cursive; font-size: 20px; color: #808000; font-weight: bold; text-decoration: none;}
.tahoma160FFFFFFtb {font-family: Tahoma, Geneva, sans-serif; font-size: 21px; color: #000000; font-weight: bold; text-decoration: none;}
.tahoma130FFFFFFtb {font-family: Tahoma, Geneva, sans-serif; font-size: 17px; color: #000000; font-weight: bold; text-decoration: none;}
.tahoma140FFFFFFtb {font-family: Tahoma, Geneva, sans-serif; font-size: 19px; color: #000000; font-weight: bold; text-decoration: none;}
.tahoma120FFFFFFtb {font-family: Tahoma, Geneva, sans-serif; font-size: 16px; color: #000000; font-weight: bold; text-decoration: none;}
.tahoma150FFFFFFtb {font-family: Tahoma, Geneva, sans-serif; font-size: 20px; color: #000000; font-weight: bold; text-decoration: none;}
.trebuchetms18FFFFFFFFFFFFtb {font-family: "Trebuchet MS", Helvetica, sans-serif; font-size: 24px; color: #FFFFFF; font-weight: bold; text-decoration: none;}


