.verdana100FFFFFFt {font-family: Verdana, Geneva, sans-serif; font-size: 13px; color: #000000; text-decoration: none;}
.wingdings310FFFFFFFFFFFFt {font-family: "Wingdings 3", sans-serif; font-size: 13px; color: #FFFFFF; text-decoration: none;}
.usuzi10FFFFFFFFFFFFt {font-family: Usuzi, sans-serif; font-size: 13px; color: #FFFFFF; text-decoration: none;}
.usuzi100FFFFFFt {font-family: Usuzi, sans-serif; font-size: 13px; color: #000000; text-decoration: none;}
.verdana10FFFFFFC0C0C0b {font-family: Verdana, Geneva, sans-serif; font-size: 13px; color: #FFFFFF; background: #C0C0C0; font-weight: bold; text-decoration: none;}
.arial70FFFFFFb {font-family: Arial, Helvetica, sans-serif; font-size: 9px; color: #000000; background: #FFFFFF; font-weight: bold; text-decoration: none;}
.arial70FFFFFFt {font-family: Arial, Helvetica, sans-serif; font-size: 9px; color: #000000; text-decoration: none;}

