<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Contact Us</title>
{% load static %}
<link href="../static/Player/css/Contact.css" rel="stylesheet">
<link href="../static/Player/css/contact_2.css" rel="stylesheet">
<link rel="stylesheet" href="../static/Player/css/menu_btn.css">

</head>
<body>
<section class="container" style="">
    <nav>
      <ul>
        <li><a href="media.html">Home</a></li>
        <li><a href="gallery.html">Gallery</a></li>
        <li><a href="upload.html">Upload</a></li>
		<li><a href="about.html">About</a></li>
		<li class="active"><a href="contact.html">Contact Us</a></li>
        <li><a href="logout.html">Logout</a></li>
      </ul>
    </nav>
  </section>

<label class="contact" for="" id="Label1" style="position:absolute;left:66px;top:108px;width:451px;height:145px;line-height:137px;z-index:1;">Contact Us</label>
<div id="wb_Shape1" style="position:absolute;left:278px;top:290px;width:896px;height:593px;z-index:2;">
<img src="../static/Player/files/img0001.png" id="Shape1" alt="" style="width:896px;height:593px;"></div>
<div id="wb_TextArt1" style="position:absolute;left:311px;top:327px;width:304px;height:518px;z-index:3;">
<span><img src="../static/Player/files/img0002.png" id="TextArt1" alt="Mo. no :  Email  :  Facebook  : Twitter  :  Visit  :  " title="Mo. no :  Email  :  Facebook  : Twitter  :  Visit  :  " style="width:304px;height:518px;"></span></a></div>
<div id="wb_TextArt2" style="position:absolute;left:669px;top:339px;width:453px;height:495px;z-index:4;">
<img src="../static/Player/files/img0003.png" id="TextArt2" alt="8780702063  mayankranghadia54154@gmail.com  Mayank Ranghadiya MayankR_143  mayank-r.com" title="8780702063  mayankranghadia54154@gmail.com  Mayank Ranghadiya MayankR_143  mayank-r.com" style="width:453px;height:495px;"></div>
</body>
</html>