<!DOCTYPE HTML 
<html>
<head>
<title></title>
<meta http-equiv="Content-Type" content="text/html; charset=Windows-1252">
{% load static %}
<meta http-equiv="Content-Style-Type" content="text/css">
<link rel="stylesheet" type="text/css" href="../static/Player/css/index.css">
<link rel="stylesheet" type="text/css" href="../static/Player/css/shared_master-page.css">
<link href="../static/Player/css/Sign_upo.css" rel="stylesheet">
<link href="../static/Player/css/signup_btn.css" rel="stylesheet">


<script language="javascript" type="text/javascript" src="../static/Player/files/dhwe6x.min.js"></script>
<script language="javascript" type="text/javascript">
<!--
jsXEvtPageLoad(function(e){
	jsCheckZoom();
	});
//-->
</script>

</head>
<body text="#000000" bgcolor="#000000" link="#0000FF" alink="#FF0000" vlink="#800080"><center>

<div id="dhecenterdiv">
<div id="dhecenterdiv1">

<div id="ldhemasterpageLayer1" style="position: absolute; left: 280px; top: 120px; width: 1059px; height: 830px;">

<table width="1059" border="0" bgcolor="#F0F0F0" cellspacing="1" cellpadding="0">
<tr>
<td width="1057" height="828" bgcolor="#000000" valign="top" style="background-position: top; background-repeat: repeat-x; background-image: URL(../static/Player/files/shared_master-page_masterpagelayer1.png);">
<div id="ldheRRect1" style="position: absolute; left: 16px; top: 98px;">

<img id="RRect1" src="../static/Player/files/index_rrect1.png" width="1032" height="308" border="0" alt=""></div>

<div id="ldheGrLabel1" style="position: absolute; left: 181px; top: 113px;">

<img id="GrLabel1" src="../static/Player/files/index_grlabel1.png" width="321" height="30" border="0" alt=""></div>

<div id="ldheRRect3" style="position: absolute; left: 27px; top: 209px;">

<img id="RRect3" src="../static/Player/files/index_rrect3.png" width="1021" height="181" border="0" alt=""></div>

<div id="ldheLine1" style="position: absolute; left: 36px; top: 238px;">

<img id="Line1" src="../static/Player/files/index_line1.png" width="188" height="4" border="0" alt=""></div>

<div id="ldheLine2" style="position: absolute; left: 36px; top: 268px;">

<img id="Line2" src="../static/Player/files/index_line2.png" width="188" height="4" border="0" alt=""></div>

<div id="ldheLine3" style="position: absolute; left: 36px; top: 298px;">

<img id="Line3" src="../static/Player/files/index_line3.png" width="188" height="4" border="0" alt=""></div>

<div id="ldheLine4" style="position: absolute; left: 36px; top: 328px;">

<img id="Line4" src="../static/Player/files/index_line4.png" width="188" height="4" border="0" alt=""></div>

<div id="ldheLine5" style="position: absolute; left: 36px; top: 358px;">

<img id="Line5" src="../static/Player/files/index_line5.png" width="188" height="4" border="0" alt=""></div>

<div id="ldheRRect9" style="position: absolute; left: 643px; top: 222px;">

<img id="RRect9" src="../static/Player/files/index_rrect9.png" width="380" height="156" border="0" alt=""></div>

<div id="ldhePicture2" style="position: absolute; left: 36px; top: 103px;">

<a href="index.html">
<img id="Picture2" src="../static/Player/files/index_picture2.png" width="141" height="101" border="0" alt="Home"></a></div>

<div id="ldheGrLabel14" style="position: absolute; left: 187px; top: 136px;">

<img id="GrLabel14" src="../static/Player/files/index_grlabel14.png" width="212" height="42" border="0" alt=""></div>

<div id="ldheLayer1" style="position: absolute; left: 16px; top: 395px; width: 1032px; height: 414px;">

<table width="1032" border="0" cellspacing="0" cellpadding="0">
<tr>
<td width="1032" height="414" bgcolor="#FFFFFF" valign="top">
<div id="ldheLayer2" style="position: absolute; left: 11px; top: 0px; width: 1021px; height: 414px;">

<table width="1021" border="0" cellspacing="0" cellpadding="0">
<tr>
<td width="1021" height="414" valign="top" style="background-image: URL(files/index_layer2.png);">
<div id="ldheLayer3" style="position: absolute; left: 640px; top: 19px; width: 327px; height: 377px;">

<form id="LoginForm" name="LoginForm" style="position: absolute; left: 15px; top: 7px; margin: 0px; padding: 0px; border: 0px;" action="validate" method="post">{% csrf_token %}

<div id="ldheLabel5" style="position: absolute; left: 25px; top: 31px; width: 94px; height: 29px; text-align: justify;">
<span class="comicsansms158080FFFFFFtb">Username</span><br/><br/><span>
<input type="text" id="uname" class="Text box" style="position:absolute;width:300px;height:31px;z-index:2;" name="uname" value="" spellcheck="false" placeholder="Enter Username"></span>
</div>



<div id="ldheLabel6" style="position: absolute; left: 25px; top: 134px; width: 111px; height: 29px; text-align: justify;">
<span class="comicsansms158080FFFFFFtb">Password</span><br/><br/><span>
<input type="password" id="pass" class="Text box" style="position:absolute;width:300px;height:31px;z-index:2;" name="pass" value="" spellcheck="false" placeholder="Enter Password"></span>
</div>
<div>
<input type="submit" id="login" name="" value="Login" class="Button" style="position:absolute;top:260;left:70;width:189px;height:54px;z-index:3;">
</div>
<img src="../static/Player/files/blank.gif" border="0" alt="">
</form>
<img src="../static/Player/files/blank.gif" border="0" alt=""></div>

<img src="../static/Player/files/blank.gif" border="0" alt=""></td></tr></table></div>

<img src="../static/Player/files/blank.gif" border="0" alt=""></td></tr></table></div>

<div id="ldheGrLabel4" style="position: absolute; left: 67px; top: 439px; width: 521px; height: 256px; text-align: left;">

<table border="0" cellspacing="0" cellpadding="0">
<tr>
<td width="521" height="256" align="left" valign="middle"><span class="tahoma160FFFFFFtb">W</span><span class="tahoma130FFFFFFtb">elcome</span><span class="tahoma140FFFFFFtb"> G</span><span class="tahoma120FFFFFFtb">uys...</span><span class="tahoma140FFFFFFtb"><br><br></span><span class="tahoma150FFFFFFtb">H</span><span class="tahoma130FFFFFFtb">ere</span><span class="tahoma140FFFFFFtb">,<br><br>&#8226; </span><span class="tahoma120FFFFFFtb">Make your self entertain...</span><span class="tahoma140FFFFFFtb"><br><br>&#8226; &nbsp;</span><span class="tahoma120FFFFFFtb">Get news...</span><span class="tahoma140FFFFFFtb"><br><br>&#8226; &nbsp;</span><span class="tahoma120FFFFFFtb">And amazing stuff about Technology ,too...</span><span class="tahoma140FFFFFFtb"><br><br>&#8226; &nbsp;</span><span class="tahoma120FFFFFFtb">Join and be Celebrity...</span><span class="tahoma140FFFFFFtb"><br></span></td></tr></table></div>

<div id="ldheLabel1" style="position: absolute; left: 57px; top: 239px; width: 149px; height: 29px; text-align: left;">
<span class="trebuchetms18FFFFFFFFFFFFtb"><a href="index.html" class="trebuchetms18FFFFFFFFFFFFtb">Home</a></span></div>

<div id="ldhePicture1" style="position: absolute; left: 211px; top: 219px;">

<img id="Picture1" src="../static/Player/files/index_picture1.png" width="624" height="291" border="0" alt=""></div>

<div id="ldheLabel2" style="position: absolute; left: 57px; top: 269px; width: 149px; height: 29px; text-align: left;">
<span class="trebuchetms18FFFFFFFFFFFFtb"><a href="media.html" class="trebuchetms18FFFFFFFFFFFFtb">Media</a></span></div>

<div id="ldheLabel3" style="position: absolute; left: 57px; top: 299px; width: 149px; height: 29px; text-align: left;">
<span class="trebuchetms18FFFFFFFFFFFFtb"><a href="about.html" class="trebuchetms18FFFFFFFFFFFFtb">About</a></span></div>

<div id="ldheLabel4" style="position: absolute; left: 57px; top: 333px; width: 149px; height: 29px; text-align: left;">
<span class="trebuchetms18FFFFFFFFFFFFtb"><a href="contact.html" class="trebuchetms18FFFFFFFFFFFFtb">Contact Us</a></span></div>

<div id="ldheGrLabel2" style="position: absolute; left: 676px; top: 229px;">

<img id="GrLabel2" src="../static/Player/files/index_grlabel2.png" width="316" height="92" border="0" alt="">
<br/><span>
<a href="registration.html">
<input type="button" id="register" name="" value="Sign Up" class="Button" style="position:absolute;left:75px;top:100;width:150px;height:40px;z-index:1;"></a>
</span>
</div>
<div>


<img src="../static/Player/files/blank.gif" border="0" alt=""></td></tr></table></div>

<div id="ldhemasterpageFilledRRect2" style="position: absolute; left: 1px; top: 965px;">

<img id="masterpageFilledRRect2" src="../static/Player/files/shared_master-page_masterpagefilledrrect2.png" width="1059" height="17" border="0" alt=""></div>
</div></center>
</body>
</html>
